@import "tailwindcss";

:root {
  --background: #212121;
  --foreground: #fff;
  --card-background: #181818;
  --btn-background: #2f2f2f;
  color: white;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);
  --color-btn-background: var(--btn-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #fff;
    --card-background: #181818;
    --btn-background: #2f2f2f;
    color: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility scrollbar-thin {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

@utility scrollbar-track-transparent {
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@utility scrollbar-track-neutral-600 {
  &::-webkit-scrollbar-track {
    background: var(--btn-background);
  }
}

@utility scrollbar-thumb-neutral-600 {
  &::-webkit-scrollbar-thumb {
    background: var(--color-neutral-600);
  }
}

@utility scrollbar-track-rounded-full {
  &::-webkit-scrollbar-track {
    border-radius: 9999px;
  }
}

@utility scrollbar-thumb-rounded-full {
  &::-webkit-scrollbar-thumb {
    border-radius: 9999px;
  }
}
